@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<html>
<head>
    <title>Question Detail Page</title>
</head>
<body>
    <div class="container">
        @model Question
        <div id="questionDetails">
            <h3>@Model.Title</h3>
            <label>@Model.Grade</label>
            <label>@Model.Subject</label>
            <div>
                <p>@Model.Body</p>
            </div>
        </div>
        
        <div id="replies">
            @foreach (var item in Model.Responses)
            {
                <p>@item.Body</p>
            }
        </div>foreach

        
        <div id="postReply">
            <form asp-action="CreateReply">
                <label asp-for="Body">Your Reply: </label>
                <textarea wrap="hard" maxlength="5000" asp-for="Body"></textarea>
                <input type="submit" value="Post" />
            </form>
        </div>
        
    </div>
</body>
</html>